body{
margin: 0;
font-family: fantasy;
background-color: rgb(125 143 159 / 77%);
}


.contenet{
display: flex;
height: 500px;
width: 500px;
border:1px solid red;
gap: 1rem;
}


.contenet>div:nth-child(1){
background-color: rosybrown;
width: 100px;
min-height: 100px;
}
.contenet>div:nth-child(2){
background-color: darkcyan;
width: 100px;
min-height: 100px;
}
.contenet>div:nth-child(3){
background-color: plum;
width: 100px;
min-height: 100px;
}
.contenet>div:nth-child(4){
background-color: yellowgreen;
width: 100px;
min-height: 100px;
}




.nav{
background-color: #f0f0f0;
width: auto;
height: 77px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
display: flex;
gap: 0;
}

.input,._dive{
align-self: center;
flex-shrink: 0;
}

.icon{
display: flex;
align-items: center;
justify-content: flex-end;
flex-grow: 1;
gap: 2rem;
margin-right: 1rem;
}
.img{
width: 26px;
}

._dive{
font-size: 18px;
color: rgb(125, 143, 159);
font-weight: bolder;
margin-left: 25px;
letter-spacing: 6px;
font-style: italic;
}

.input{
height: 27px;
border-radius: 50rem;
padding-inline: 15px;
border-color: transparent;
margin-top: -3px;
}


.cont{
display: flex;
justify-content: flex-start;
gap: 1rem;
margin-left: 8rem;
margin-top: 4rem;
flex-wrap: wrap;
}
.img_cc{
width: 200px;
height: 200px;
border-radius: 50rem;
padding: 10px;
border: 5px dotted aliceblue;
margin-bottom: 0.5rem;
cursor: pointer;
}

.box_img
{
width: 250px;
word-break: break-all; font-size: 14px;
}

.txt{
word-spacing: 2px;
}



.inputs{
margin-top: 3rem;
display:flex ;
justify-content: center;
}
.inputs>div{
flex-grow: 1;
margin-left: 15%;
    }
input.i657864323752{
height: 40px;
border-radius: 50rem;
border: transparent;
background-color: aliceblue;
width: 70%;
padding-left: 2rem;
margin-right: 1rem;
}
.i657864323753{
display: none;
}

.l57643487{
width: 30px;
height: 30px;
background-color: aliceblue;
border-radius: 50rem;
padding: 10px;
cursor: pointer;
}

.img_763334{
width: 25px;
position: relative;
top: 6px;
}
.__d_578533774225{
margin-top: 3rem;
margin-left: 10rem;
background-color: aliceblue;
width: 40%;
height: 40px;
border-radius: 50rem;
line-height: 46px;
text-align: center;
cursor: pointer;
}
.div_f_rem_786468643348{
width: 50px;
height: 42px;
line-height: 55px;
border-radius: 50rem;
padding-top: 0rem;
padding-left: 15px;
cursor: pointer;
}
.div_r_r_ss75587422{
position: absolute;
top: 13px;
margin-left: 30px;
font-size: 20px;
font-family: unset;  
}
.tr78543367{
transition: 0.4ms all;
}


.div_f_rem_786468643348:hover{
background-color: aliceblue;
}
.div_f_rem_7864686898770348{
background-color: aliceblue;
}

.re86587533873{
width: 30px;
height: 30px;
background-color: aliceblue;
position: relative;
left: 10rem;
top: 2rem;
border-radius: 50rem;
text-align: center;
line-height: 26px;
font-size: 20px;
font-family: unset;
cursor: pointer;
display: none;
}


@media(max-width:576px){
.__d_578533774225{
margin-left: 5rem;
}
}
